<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6">
                <img th:src="@{'/files/' + ${product.fileName}}" alt="no pic" class="thumbnail">
            </div>
            <div class="col-md-6">
                <h2 th:text="${product.title}">Title</h2>
                <p th:text="${product.description}" style="height:100px;">Description</p>
                <div>Quantity: <span th:text="${product.quantity}">1</span></div>
                <div class="product-price">$<span th:text="${product.price}">10</span></div>
                <div class="pull-right" th:if="${product.quantity} > 0">
                    <a th:href="@{'/products/' + ${product.id} + '/addToCart'}" class="btn btn-primary btn-large btn-danger">加入購物車</a>
                </div>
                <div class="pull-right" th:if="${product.quantity} == 0">
                    已銷售一空，無法購買
                </div>
            </div>
        </div>
    </div>
</body>
</html>