<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Bill E-Commercial Backstage Example</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div th:replace="fragments/header :: header">...</div>
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" style="max-width:300px">
                    <li><a th:href="@{/admin/products}">Products</a></li>
                    <li><a th:href="@{/admin/users}">Users</a></li>
                    <li><a th:href="@{/admin/orders}">Orders</a></li>
                </ul>
            </div>
            <div layout:fragment="content" class="col-md-10"></div>
        </div>
    </div>
</body>

</html>