<!DOCTYPE html>
<html layout:decorator="/fragments/admin_layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <form th:action="@{'/admin/products/' + ${product.id} + '/update'}" th:object="${product}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <h2 class="form-inputs-heading">Edit Product</h2>

        <div>
            <input type="hidden" th:field="*{id}">
        </div>

        <div class="form-group">
            <label for="title" class="control-label col-sm-2">Title: </label>
            <input type="text" th:field="*{title}" class="col-sm-6">
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-sm-2">Description: </label>
            <textarea th:field="*{description}" class="col-sm-6"></textarea>
        </div>

        <div class="form-group">
            <label for="quantity" class="control-label col-sm-2">Quantity: </label>
            <input type="text" th:field="*{quantity}" class="col-sm-6">
        </div>

        <div class="form-group">
            <label for="price" class="control-label col-sm-2">Price: </label>
            <input type="text" th:field="*{price}" class="col-sm-6">
        </div>

        <div class="form-group">
            <label for="uploadFile" class="control-label col-sm-2">Upload File</label>
            <input type="file" name="uploadFile" class="col-sm-6" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
</div>

</body>
</html>